body {
	margin: 0 auto;  /*body所有元素居中*/
	width: 1920px;
	min-width: 1920px;
	height: 1080px;
	min-height: 1080px;
	background-image: url(../img/background.png);
}
.love-left-bg{
	width: 816px;
	height: 1080px;
	background-image: url(../img/pic1.png);
	z-index: 1px;
	float: left;
}
.love-left-txt{
	width: 816px;
	height: 80px;
	margin-top: 250px;
  	font-size: 90px;
  	font-family: "STHeiti TC";
  	color: #78aad6;
  	line-height: 0.208;
}
.love-left-txt-time{
	width: 110px;
	height: 90px;
	line-height: 90px;
	margin-left: 518px;
	background: #f5f6f6;
}
.love-left-txt-time1{
	width: 588px;
	height: 234px;
	background-image: url(../img/pic-time-bg.png);
	position: absolute;
}
.love-left-old{
	width: 500px;
	height: 150px;
	margin-top: 70px;
	margin-left: 250px;
}
.love-left-game{
	width: 510px;
	height: 170px;
	margin-left: 160px;
	margin-top: 25px;
}
.love-left-future{
	width: 510px;
	height: 170px;
	margin-left: 220px;
	margin-top: 25px;
}
.love-right-bg{
	width: 654px;
  	height: 744px;
  	border: 1px solid #a6d9e5;
  	z-index: 1;
  	border-radius: 20px;
  	position: absolute;
  	left: 1012px;
  	top: 150px;
  	background: rgba(255, 255, 255, 0.651);
}
.love-right-old{
	width: 654px;
  	height: 744px;
  	overflow:auto;
  	display: none;
}
.love-old-block1{
	width: 654px;
	height: 200px;
	font-family: "STHeiti TC";
	font-size: 20px;
}

.test{
	width: 654px;
	height: 200px;
	border: 1px solid;
}
.love-right-game{
	width: 654px;
  	height: 744px;
  	display: block;
}
.love-right-game-bg{
	width: 175px;
	height: 302px;
	float: left;
}
.love-right-game-bg1{
	width: 303px;
	height: 303px;
	border: 1px solid;
	float: left;
}
.love-right-game-line{
	width: 303px;
	height: 101px;
}
.love-right-game-block{
	width: 100px;
	height: 100px;
	float: left;
}
.love-right-game-bg2{
	width: 303px;
	height: 303px;
	position: absolute;
	z-index: 3px;
	left: 175px;
	display: none;
	top: 0px;
}
.love-right-future{
	width: 654px;
  	height: 744px;
}
